.btn-container {
  display: flex;
  align-items: center;

  &--center {
    justify-content: center;
  }
}

.btn {
  width: auto;
  min-width: 160px;
  padding: 0.7em 2em;
  border: 2px solid transparent;
  border-radius: 5px;
  font-weight: 600;
  color: var(--text-color);
  text-align: center;
  cursor: pointer;
  transition: 250ms all ease;

  &:hover {
    text-decoration: none;
  }

  &.btn--small {
    min-width: 0;
    padding: 0 1.8em;
  }

  &.btn--full {

    &.btn--primary {
      color: white;
      background-color: var(--primary-color);

      &:hover {
        color: white;
        background-color: var(--primary-color-hover);
      }
    }

    &.btn--secondary {
      color: white;
      background-color: var(--secondary-color);
    }

    &[disabled] {
      background-color: #777777;
      cursor: not-allowed;

      &:hover {
        background-color: #777777;
      }
    }
  }

  &.btn--outline {

    &.btn--primary {
      color: var(--primary-color);
      border-color: var(--primary-color);

      &:hover {
        color: var(--primary-color-hover);
        border-color: var(--primary-color-hover);
      }
    }

    &.btn--secondary {
      color: var(--secondary-color);
      border-color: var(--secondary-color);
    }

    &[disabled] {
      color: #777777;
      border-color: #777777;
      cursor: not-allowed;

      &:hover {
        color: #777777;
        border-color: #777777;
      }
    }
  }
}
