[data-theme="dark"] {
  --primary-color: #006efe;
  --primary-color-hover: #2885fe;
  --secondary-color: #ffc400;
  --heading-color: #f0f0f0;
  --text-color: #cccccc;
  --bg-color: #222222;
  --bg-depth-1:#292929;
  --bg-depth-2:#383838;
  --icon-hover-brightness: brightness(8);

  .icon {
    filter: brightness(5);
  }

  .dark-theme {
    display: block;
  }

  .light-theme {
    display: none;
  }
}
