:root {
  --primary-color: #006efe;
  --primary-color-hover: #2885fe;
  --secondary-color: #ffc400;
  --heading-color: #1f1f1f;
  --text-color: #292929;
  --bg-color: #f0f0f0;
  --bg-depth-1:#e8e8e8;
  --bg-depth-2: #dadada;
  --outline-button-color: #292929;
  --bottom-icon-brightness: brightness(0);
}

.dark-theme {
  display: none;
}

.light-theme {
  display: block;
}