:root {
  --primary-color: #006eff;
  --primary-color-hover: #2885ff;
  --secondary-color: #ffc400;
  --heading-color: #1f1f1f;
  --text-color: #292929;
  --bg-color: #f0f0f0;
  --bg-depth-1:#e8e8e8;
  --bg-depth-2: #dadada;
  --outline-button-color: #292929;
  --icon-hover-brightness: brightness(2);
}

.dark-theme {
  display: none;
}

.light-theme {
  display: block;
}