.blog-list-wrapper {

}

.blog-list {

  &__heading {

  }
}

.blog-list-wrapper {

  .blog-entry-wrapper {
    text-decoration: none;

    &:hover {
      color: currentColor;

      h1,h2,h3,h4,h5,h6 {
        color: var(--primary-color);
        text-decoration: underline;
      }
    }
  }

  .blog-entry {
    padding: 3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;

    @media only screen and (max-width: 767.98px) {
      padding: 1rem 1.5rem
    }

    &__category {
      margin-bottom: 0.25rem;
      font-size: 0.75rem;
      color: var(--text-color);
      transition: 250ms all ease;
    }

    &__title {
      margin-bottom: 0.5em;
    }

    &__excerpt {
      max-width: 80%;
      color: var(--text-color);
      transition: 250ms all ease;

      @media only screen and (max-width: 767.98px) {
        max-width: none;
      }
    }

    &__stack-list {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
    }

    &__stack-item {
      margin: 0 1rem 1rem 0;
      background-color: var(--primary-color);
      color: white;
      padding: 0.2em 1em;
      border-radius: 5px;

      @media only screen and (max-width: 767.98px) {
        margin: 0 0.5rem 0.5rem 0;
        padding: 0 0.5em;
        font-size: 0.8rem;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

