.bottom-nav-wrapper {
  display: none;

  @media only screen and (max-width: 767.98px) {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    z-index: 10000;
    transition: 250ms all ease;
  }

  &.sticky {
    transform: translateY(100%);
  }

  &.visible {
    transform: translateY(0);
  }
}

.bottom-nav {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 !important;
  }

  &__item {
    position: relative;
    width: 25%;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: var(--primary-color);
    }

    &.active {

      &::after {
        content: '';
      }

      .bottom-nav__item-icon.icon {
        filter: var(--bottom-icon-brightness);
      }

      .bottom-nav__item-text {
        font-weight: 600;
        color: var(--heading-color);
      }
    }

    &-anchor {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;

      @media only screen and (max-width: 767.98px) {
        padding: 0.5rem 1rem;
      }

      &::after {
        content: none;
      }

      &:hover {

        .icon {
          filter: var(--bottom-icon-brightness);
        }
      }
    }

    &-icon {
      height: 1.5rem;
    }

    &-text {
      font-size: 0.8rem;
      margin-bottom: 0;
    }
  }
}
