body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 250ms all ease;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
  line-height: 1.4;
  margin-bottom: 1em;
  transition: 250ms all ease;
}

.subpage {
  padding-top: 8rem;

  @media only screen and (max-width: 767.98px) {
    padding-top: 2rem;
  }
}
